CONVEX_DEPLOYMENT=dev:bold-sandpiper-236
NEXT_PUBLIC_CONVEX_URL=https://bold-sandpiper-236.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://bold-sandpiper-236.convex.site
AIA_DEV_DATA_TARGET=bold-sandpiper-236
